version: '3.5'
services:
  nginx:
    image: nginx:${NGINX_VERSION}
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./config/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:cached
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.magento.conf:cached
      - web-root:/var/www/html:cached
    networks:
      - app-network
  php:
    image: pchaikivskyi/magento2-php:${PHP_VERSION}
    container_name: php
    hostname: ${HOSTNAME}
    env_file:
      - .env
    volumes:
      - web-root:/var/www/html:cached
      - ./config/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini:cached
      - ./data:/tmp/xdebug:delegated
    networks:
      - app-network
  db:
    image: mariadb:${DB_VERSION}
    container_name: db
    restart: always
    ports:
      - 3306:3306
    env_file:
      - .env
    networks:
      - app-network
#  varnish:
#    build: ./config/varnish
#    ports:
#      - 80:80
#    volumes:
#      - ./config/varnish/default.vcl:/etc/varnish/default.vcl
#    container_name: varnish
#    depends_on:
#      - redis
#    networks:
#      - app-network
#  redis:
#    image: redis
#    container_name: redis
#    expose:
#      - 6379
#    networks:
#      - app-network
  elasticsearch:
   image: elasticsearch:${ELASTICSEARCH_VERSION}
   container_name: elasticsearch
   ports:
     - 9200:9200
   env_file:
     - .env
   environment:
     - "bootstrap.memory_lock=true"
     - "discovery.type=single-node"
   networks:
     - app-network
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - 8000:80
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
volumes:
  web-root:
    driver: local
    driver_opts:
      type: nfs
      device: ${MAGENTO_PATH}
      o: bind
