version: '3'
services:
  nginx:
    image: nginx:${NGINX_VERSION}
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./config/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/var/www/html
    links:
      - php
  php:
    build:
      context: ./
      args:
        - PHP_VERSION=${PHP_VERSION}
    container_name: php
    volumes:
      - ./src:/var/www/html
      - ./config/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini
      - ./data:/tmp/xdebug
    links:
      - db
  db:
    image: ${DB_TYPE}:${DB_VERSION}
    container_name: db
    restart: always
    ports:
      - 3306:3306
    env_file:
      - .env
#  varnish:
#    build: ./varnish
#    ports:
#      - 80:80
#    volumes:
#      - ./varnish/default.vcl:/etc/varnish/default.vcl
#    container_name: varnish
#    links:
#      - nginx
#      - php
#  redis:
#    image: redis
#    container_name: redis
#    expose:
#      - 6379
  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8000:8080
    links:
      - db
